@charset "UTF-8";

.container--main {
  padding: 8px;
  margin-inline: auto;
  max-width: 600px;
  min-width: 200px;
}

.container--input,
.container--button {
  gap: 5px;
  display: flex;
  margin-block: 7px;
} 

.input-text-style {
  flex: 1;
  height: 50px;
  min-width: 20px;
  padding: 5px 9px;
  border-radius: 7px;
  font-size: var(--fs-500);
  border: 1px solid black;
}

.button-style {
  flex: 1;
  padding: 5px;
  height: 50px;
  min-width: 20px;
  overflow: hidden;
  border-radius: 7px;
  font-size: var(--fs-500);
  border: 1px solid black;
}

.container--image {
  position: relative;
}

.meme-image {
  width: 100%;
  border: 2px solid black;
  object-fit: cover;
}

.text-top,
.text-bottom {
  position: absolute;
  
  color: white;
  max-width: 90%;
  overflow: hidden;
  font-family: var(--ff);
  font-size: var(--fs-800);

  white-space: nowrap;
  text-overflow: ellipsis;
  transform: translateX(-50%);
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.text-top {
  top: 20px;
  left: 50%;
}

.text-bottom {
  left: 50%;
  bottom: 20px;
}