.container--header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: purple;
}

.logoMeme {
  width: 50px;
  margin-right: 10px;
}

.title {
  text-align: center;
  font-size: max(20px, 3vw);
}