@charset "UTF-8";

* {
  outline: 0;
  margin: 0px;
  padding: 0px;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica;
  transition: background-color 0.2s ease;
}